<a href="https://colab.research.google.com/github/hong-yu-qw/python-2020-1127/blob/main/%E3%80%8CUntitled2_ipynb%E3%80%8D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# -*- coding: utf-8 -*-
x = input('Enter your name:')
print('Hello, ' + x)

a = input("請輸入：")
a

In [ ]:
var1 = 'Hello Python!'

print(var1[:0]+"World!"+"恩師最偉大")

World!恩師最偉大

In [ ]:
a = int(input("請輸入："))
a

b = a+15
b

請輸入：65

80

In [ ]:
a,b = eval(input("請輸入兩個數位："))
a,b

請輸入兩個數位：12,13

(12, 13)

In [ ]:
from queue import Queue
q = Queue()
q.put(1)
q.put(2)
q.put(3)
q
print(q.queue)

q.get()

deque([1, 2, 3])

1

In [ ]:
a = 17 / 3
b = 17 // 3
c = 17 % 3

a,b,c

(5.666666666666667, 5, 2)

In [ ]:
abs(3+4j)

5.0

In [ ]:
var1 = 'Hello Python!'

print("var1[0]: ", var1[0])
print("var1[1:0]: ", var1[1:0])

var1[0]:  H
var1[1:0]:

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]
 
list1[1]

33

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]

list1[-2]

32

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}

print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  DaDaLong
dict['Age']:  17

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
dict.items()

dict_items([('Name', 'DaDaLong'), ('Age', 17), ('Class', 'First')])

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.items())

[('Name', 'DaDaLong'), ('Age', 17), ('Class', 'First')]

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.keys())

['Name', 'Age', 'Class']

In [ ]:
a = 33
b = 200

if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 33
b = 20

if b > a:
  print("b is greater than a")

In [ ]:
a = 32
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 35
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
year= eval(input("請輸入年"))

if ((year%400==0) or (year%4==0 and year%100!=0)):
  print("{0} 是閏年".format(year))
else:
  print("{0} 不是閏年".format(year))

請輸入年2019
2019 不是閏年

In [ ]:
year, month, day = eval(input("請輸入年月日"))
year, month, day

請輸入年月日2020,11,27

(2020, 11, 27)

In [ ]:
year, month, day = eval(input("請輸入年月日::"))
day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if year%400==0 or (year%4==0 and year%100!=0):  
  day_month[1] = 29
if month==1:
    print(day)
else:
    print(sum(day_month[:month-1])+day)

請輸入年月日::2020,11,27
332

In [ ]:
money = int(input("請輸入購物金額："))

if(money >= 10000):
    if(money >= 100000):
        print(money * 0.8, end=" 元\n")  #八折
    elif(money >= 50000):
        print(money * 0.85, end=" 元\n")  #八五折
    elif(money >= 30000):
        print(money * 0.9, end=" 元\n")  #九折
    else:
        print(money * 0.95, end=" 元\n")  #九五折
else:
    print(money, end=" 元\n")  #未打折

請輸入購物金額：52000
44200.0 元

In [ ]:
a = 33
b = 200

if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 33
b = 20

if b > a:
  print("b is greater than a")

In [ ]:
a = 32
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 35
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
year= eval(input("請輸入年"))

if ((year%400==0) or (year%4==0 and year%100!=0)):
  print("{0} 是閏年".format(year))
else:
  print("{0} 不是閏年".format(year))

請輸入年2024
2024 是閏年

In [ ]:
year, month, day = eval(input("請輸入年月日"))
year, month, day

請輸入年月日2020,11,27

(2020, 11, 27)

In [ ]:
year, month, day = eval(input("請輸入年月日::"))
day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if year%400==0 or (year%4==0 and year%100!=0):  
  day_month[1] = 29
if month==1:
    print(day)
else:
    print(sum(day_month[:month-1])+day)

請輸入年月日::2020,11,26
331

In [ ]:
list1=range(10)
print(list1)

print(list(list1))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=range(10)
print(list1)

range(0, 10)

In [ ]:
list2=range(-4,5)
print(list(list2))

[-4, -3, -2, -1, 0, 1, 2, 3, 4]

In [ ]:
list3=range(-4,5,2)
print(list(list3))

[-4, -2, 0, 2, 4]

In [ ]:
list4=range(-4,6,2)
print(list(list4))

[-4, -2, 0, 2, 4]

In [ ]:
for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

0@1@2@3@4@5@6@7@8@9@

In [ ]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

0
1
3
6
10

In [ ]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)

10

In [ ]:
x = int(input("請輸入一個正整數:"))
my_result = 1

for n in range(x):
  my_result *= n

print(my_result)

請輸入一個正整數:22
0

In [ ]:
x = int(input("請輸入一個正整數:"))
my_result = 1

for n in range(1,x+1):
  my_result *= n

print(my_result)

請輸入一個正整數:333
10334465434588059156093965538297516550622260041682062823432902469783188597914276568552700194849877929894375950252570477080418352732597658745665925604704669227133726477243854317836635130694123893711638533001980496229875665476598568821806170303765540489814402234159901540440432134155844542962445153646330595588291605924429211352279943471372817279938720974895260387784578239150931816946786416232516666251965421919651838044618050991294403546958930745419743836966520198735201123255884089263272829846640538826979843642885775791641575109178753509580001660392092396798648924375401024147883702298145910046889402880394195369984000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
x = int(input("請輸入一個正整數:"))
mysum = 0

for n in range(x):
  mysum += n

print(mysum)

請輸入一個正整數:23
253

In [ ]:
x = int(input("請輸入一個正整數:"))
mysum = 0

for n in range(x+1):
  mysum += n

print(mysum)

In [ ]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 != 0): 
    my_numbers.append(number)

print(my_numbers)

In [ ]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []
 
for number in numbers:
  if (number % 2 == 0): 
    my_numbers.append(number)
 
print(my_numbers)

In [ ]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

In [ ]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)

In [1]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def swap(a,b):
    a,b = b,a
    return (a,b)

if __name__ == '__main__':
    x = 10
    y = 20
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 10,y = 20
x = 20,y = 10

In [2]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def sort(number1, number2):
    if number1 < number2:
        return number1, number2
    else:
        return number2, number1

num1, num2 = sort(31, 25)

print("num1 is", num1)
print("num2 is", num2)

num1 is 25
num2 is 31

In [3]:
x = 111
 
def f1():
    x = 222
    print(x) 
 
f1()
print(x)
 
x = 1
 
def increase():
    global x
    x =  x + 1
    print(x) 
 
increase()
print(x)
increase()
increase()
print(x)

222
111
2
2
3
4
4

In [4]:
f1 = lambda x, y, z: x+2*y+3*z
print(f1(2,3,1))

11

In [5]:
def myfunc(m):
    return m*m

my_list = [1, 3, 5, 7, 9]

### 使用python的map()

map(lambda x:myfunc(x), my_list)

In [6]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def fib(n):
    if n==1 or n==2:
        return 1
    return fib(n-1)+fib(n-2)

print(fib(10))

55

In [10]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def fib(n):
    a,b = 1,1
    for i in range(n-1):
        a,b = b,a+b
    return a


print(fib(10))

55

In [11]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def fib(x): 
    global numFibCalls
    numFibCalls += 1

    if x == 0 or x == 1:
           return 1
    else:
          return fib(x-1) + fib(x-2)

def testFib(n):
    for i in range(n+1):
          global numFibCalls
          numFibCalls = 0
          print('fib of', i, '=', fib(i))
          print('fib called', numFibCalls, 'times.')

testFib(4)

fib of 0 = 1
fib called 1 times.
fib of 1 = 1
fib called 1 times.
fib of 2 = 2
fib called 3 times.
fib of 3 = 3
fib called 5 times.
fib of 4 = 5
fib called 9 times.

In [12]:
hex(255)

'0xff'

In [13]:
hex(-42)

'-0x2a'

In [14]:
oct(8)

'0o10'

In [15]:
oct(-56)

'-0o70'

'-0o70'

In [17]:
bin(3)

'0b11'

In [18]:
bin(-10)

'-0b1010'